:root {
  --main-section-title: 2em;
  --main-section-text: 1.5em;
}

*{
  list-style-type: none;
  padding: none;
  margin:none;
  text-decoration: none;
}

.main-section {
    
}

.main-section-title {
  font-size: var(--main-section-title);
}
.main-section-text {
  font-size: var(--main-section-text);
}
