/* Not using variables as not expecting this style sheet grows for a simple and small component */

.the-form {
  background-color: orange;
  box-shadow: 1px 0px 8px -1px rgba(0, 0, 0, 0.62);
  -webkit-box-shadow: 1px 0px 8px -1px rgba(0, 0, 0, 0.62);
  -moz-box-shadow: 1px 0px 8px -1px rgba(0, 0, 0, 0.62);
  border-radius: 10px;
}

#contact {
  background: rgb(6, 11, 67);
  background: linear-gradient(
    260deg,
    rgba(6, 11, 67, 1) 26%,
    rgba(8, 2, 122, 0.891281512605042) 100%
  );
}

#contact .main-section-title,
#contact .main-section-text {
  color: white;
}

@media (max-width: 576px) {
  .xs-padding {
    padding: 0; /* Remove padding for xs devices */
  }
}
