.main-section-bg {
  background-color: black;
  color: white;
}

.btn-full-width {
  width: 100%;
}

/* 
.main-section-text {
  font-size: 1.2em;
}

.main-section-title,
.main-section-text {
  color: white;
}
 */

/* Medium Size */

/* Apply styles for screens 768px and wider (md) */
@media (min-width: 768px) {
  /* Your styles here */

  .main-section-title {
    font-size: var(--main-section-title-md);
  }

  .btn-full-width {
    width: auto;
  }
}
